<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal - CursoFinder</title>
</head>
<body>
    
    <h1 th:if="${session.usuarioLogeado}">
        ¡Bienvenido, <span th:text="${session.usuarioLogeado.nombre}"></span>!
    </h1>
    
    <p>Este es el menú principal donde se listarán los cursos.</p>
    
    <br>
    
    <div>
        <a th:href="@{/logout}">
            <button>Cerrar Sesión</button>
        </a>
    </div>
    
</body>
</html>